# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.project
/.settings
/.classpath
/target/

/java/.project
/java/.settings
/java/.classpath
/java/target/

/java-hook/.project
/java-hook/.settings
/java-hook/.classpath
/java-hook/target/

/native/.project
/native/.settings
/native/.classpath
/native/target/