---
---

@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(120deg, #183153, #158fcc);
}

h1.project-name {
	font-family: 'Cooper';
	font-size: 4.25rem;
	line-height: 1.00em;
}

.main-content {
	h1 {
		color: #158fcc;
	}
	h2 {
		color: #158fcc;
	}
	h3 {
		color: #158fcc;
	}
}