---
---

@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(120deg, #183153, #158fcc);
}

h1.project-name {
	font-family: 'Cooper Std';
	font-size: 3.25rem;
	line-height: 1.00em;
}

@font-face {
    font-family: 'Cooper Std';
    src: url('CooperBlackStd.eot');
    src: local('Cooper Std Black'), local('CooperBlackStd'),
        url('./../fonts/CooperBlackStd.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/CooperBlackStd.woff2') format('woff2'),
        url('./../fonts/CooperBlackStd.woff') format('woff'),
        url('./../fonts/CooperBlackStd.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.main-content {
	h1 {
		color: #158fcc;
	}
	h2 {
		color: #158fcc;
	}
	h3 {
		color: #158fcc;
	}
}
