---
---

@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(120deg, #183153, #158fcc);
}

h1.project-name {
	font-family: 'Cooper Regular';
	font-size: 4.25rem;
	line-height: 1.00em;
}

@font-face {
    font-family: 'Cooper Regular';
    src: local('Cooper Regular'), local('Cooper-Regular'),
        url('./../fonts/Cooper-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-content {
	h1 {
		color: #158fcc;
	}
	h2 {
		color: #158fcc;
	}
	h3 {
		color: #158fcc;
	}
}